
h1 {
    color:skyblue;
    background-color:darkblue;
    text-align:center;
    font-size: 5vw;
    font-family: "Segoe UI", Tahoma, sans-serif;
    }
ol {
    background-color:royalblue;
    }
li {
    background-color:cornflowerblue
    }
#navbar {
    background-color: cornflowerblue;
    border-style: solid;
    border-color:black;
    border-collapse: collapse;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, sans-serif;
}
body {
    background-image: url(../img/blue-tile.png);
    font-family: "Segoe UI", Tahoma, sans-serif;
}
header {
    background-color: #000080;
    color: #FFFAFF;
    text-align: center;
    font-size: 50px;
    border: 3px solid #FFFAFF;
}
.navbar {
    background-color: #FFFAFF;
    border: solid #000080;
    font-size: 20px;
    position :sticky;
    top: 0px;
}
#navbar th {
    border-style: solid #000080;
}
footer {
    background-color: #000080;
    color: #FFFAFF;
    font-size: 12px;
    border: 3px solid #FFFAFF;
    padding-left: 5px;
}
.navbar th{
    border-style: solid #000080;
    padding:5px;
}
footer {
    background-color: #000080;
    color: #FFFAFF;
    font-size: 12px;
    border: 3px solid #FFFAFF;
    padding-left: 5px;
}
.profile {
    background-color: #3E92CC;
    text-align:center;
}
.even-row {
    background-color: #5764A5;
}
h2 {
    background-color: #000080;
    color: #FFFAFF;
    border: 3px solid #FFFAFF;
   
}
.active{
    background-color: lightcoral;
}

a {
    color: navy;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFFAFF ;
    color:#000080;
    padding: 5px;
    box-shadow: 5px 5px 10px crimson;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    display: inline-block;
}